.container{
    padding: 0.7rem;
    font-weight: bold;
    font-size: large;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:linear-gradient(to right, #1e293b, #1a2435) ;
    

}

.navbar{
  display: flex;
  align-items: center;
  width: 100%;
  
}

